name: build

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  jacoco-ut:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"
      - name: Build with Maven
        run: mvn clean test jacoco:prepare-agent -Punit-test,coverage
      - uses: actions/upload-artifact@v6
        with:
          name: jacoco
          path: target/jacoco.exec
  jacoco-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"
      - name: Build with Maven
        run: mvn clean integration-test jacoco:prepare-agent-integration -Parq-glassfish-managed,coverage
      - uses: actions/upload-artifact@v6
        with:
          name: jacoco-it
          path: target/jacoco-it.exec
  jacoco-report:
    runs-on: ubuntu-latest
    needs:
      - jacoco-ut
      - jacoco-it
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"
      - uses: actions/download-artifact@v7
        with:
          path: target/
          merge-multiple: true
      - name: Display structure of downloaded files
        run: ls -R target/
      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn verify sonar:sonar -Pcoverage \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.token=$SONAR_TOKEN \
          -Dsonar.organization=hantsy \
          -Dsonar.projectKey=hantsy_jakartaee11-starter-boilerplate \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/*/jacoco.xml \
          -Dsonar.coverage.exclusions=**/dto/*,**/*Configuration.*,**/SampleDataGenerator.*

